PORT=5050
MONGODB_URI=mongodb+srv://YOUR_DATABASE_USER:YOUR_DATABASE_PASSWORD@ceyluxecluster.p3reflh.mongodb.net/ceyluxe_tours?retryWrites=true&w=majority&appName=CeyluxeCluster
CLIENT_URL=http://localhost:3000
